<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/listusers.css">
</head>
<body class="main">
    
    <div class="w3-row">
        <div class="w3-col m3 w3-center  w3-text-orange" style="text-shadow:1px 1px 0 #444" ><h1>Available Products</h1></div>
        <div class="w3-col m6 w3-center"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div>
        <div class="w3-col m3 w3-padding-32 w3-center">  <a class="w3-button w3-round-large w3-border w3-white w3-hover-orange" href="/">Add Item </a> | <a  class="w3-button w3-round-large w3-border w3-white w3-hover-orange" href="landing">Logout</a></div>
      </div>
    
    
    
    

    </div>


    <div class="w3-container w3-responsive">
        <input oninput="w3.filterHTML('#tbl1', '.item', this.value)" class="w3-input w3-round-large w3-border" placeholder="Search for items...">
        <p></p>
        <table class="w3-table w3-hoverable w3-border w3-striped w3-round-large " id="tbl1">
            <thead class="w3-orange">
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Product Size</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody">
                <%rset.forEach((nodedb) => { %> 
                    
                <tr class="w3-black w3-hover-orange item">
                    <td><%=nodedb.productCode%></td>
                    <td><%=nodedb.productName%></td>
                    <td><%=nodedb.productDescription%></td>
                    <td><%=nodedb.productPrice%></td>
                    <td><%=nodedb.productSize%></td>
                    <td>
                        <a href="/edit/<%=nodedb.productCode%>" class="w3-button w3-green w3-tiny w3-round-large">Edit</a>
                        <a onclick="btn('<%=nodedb.productCode%>')" class="w3-button w3-red w3-tiny w3-round-large">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        function btn(productCode) {
            
            Swal.fire({
            title: 'Are you sure to delete \n'+productCode+"?",
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
            if (result.isConfirmed) {

                location.href = "/delete/"+productCode
            }
            })
        }
       
    </script>
</div>
</body>
</html>